<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">  
    </link>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <h:head>
        <title>Messaging app</title>
    </h:head>
    <h:body>
        <div class="row">
            <div class="col-lg-2" style="text-align: center; padding-top: 1.5vh">
                <h2>Discord applicatie</h2>
            </div>
            <div class="col-lg-7" style="padding: 0; padding-top: 1vh;">
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-7">
                                <h4>#{discordView.currentChannel}</h4>                                
                            </div>
                            <div class="col-lg-5">
                                <h:panelGroup layout="block" rendered='#{discordView.showInvite}'>
                                    <h:form style="float: right;">
                                        <h:commandButton action="#{discordView.invitePeople}" value="Invite people" class="btn btn-primary"></h:commandButton>
                                    </h:form>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <h:form style="width: 100%; margin-bottom: 1vh;">
                        <div class="col-lg-12">
                            <div class="card" style="width: 100%;">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <h:inputText value="#{discordView.channel}" class="form-control"></h:inputText> 
                                        </div>
                                        <div class="col-lg-3">
                                            <h:commandButton action="#{discordView.addChannel}" value="Add" class="btn btn-primary"></h:commandButton><br/>
                                        </div> 
                                    </div>
                                </div>
                            </div>                      
                        </div>                        
                    </h:form>

                    <div class="col-md-12">
                        <div class="card" style="width: 100%;">
                            <div class="card-header">
                                Channels
                            </div>
                            <ul class="list-group list-group-flush">
                                <c:forEach items="#{discordView.broker.topics}" var="entry">
                                    <h:form>
                                        <li class="list-group-item" style="padding: 0 !important">
                                            <h:commandButton action="#{discordView.openChannel(entry.key)}" value="#{entry.key}" class="btn btn-light" style="width: 100%"></h:commandButton><br/>
                                        </li>
                                    </h:form>
                                </c:forEach>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7" style="padding: 0">
                <h:form>

                    <div class="card" style="width: 100%;">
                        <div class="card-body" style="max-height: 83vh; height: 83vh; overflow: auto; padding:7px">
                            <ui:repeat var="message" value="#{discordView.broker.chatList}">
                                <label>#{message}</label><br/>
                            </ui:repeat>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-10">
                                <h:inputText value="#{discordView.message}" class="form-control"></h:inputText>
                            </div>
                            <div class="col-lg-2">
                                <h:form>
                                    <h:commandButton action="#{discordView.sendMessage}" value="Send" class="btn btn-primary" style="width: 100%"></h:commandButton>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </h:form>
            </div>
            <div class="col-lg-3">
                <ui:repeat var="invite" value="#{discordView.broker.invites}">
                    <div class="card">
                        <div class="card-header" style="height: 6.4vh; text-align: center;">
                            Do you want to join '#{invite}' ?
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">                                    
                                    <h:form style="float: right; width: 100%;">
                                        <h:commandButton action="#{discordView.acceptInvite(invite)}" value="Accept" class="btn btn-primary" style="width: 100%;"></h:commandButton>
                                    </h:form>
                                </div>
                                <div class="col-lg-6">
                                    <h:form style="float: right; width: 100%;">
                                        <h:commandButton action="#{discordView.declineInvite(invite)}" value="Decline" class="btn btn-danger" style="width: 100%;"></h:commandButton>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui:repeat>
            </div>
        </div>
    </h:body>
</html>
